@media only screen and (min-width: 768px){
  /* For desktop: */
  *{
    box-sizing: border-box;
  }

  body{
    background-color: #292C34;
  }

  .bg{
    background-color: #999999;

    text-align: center;
    line-height: 400px;
    font-size: 40px;
    float: center;

    height: 400px;
    width: 800px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -200px;
    margin-left: -400px;
  }

  .view:after{
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (max-width: 768px){
  /* For mobile: */
  *{
    box-sizing: border-box;
  }

  body{
    background-color: #292C34;
  }

  .bg{
    background-color: #999999;

    text-align: center;
    line-height: 400px;
    font-size: 20px;
    float: center;

    height: 400px;
    width: 300px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -200px;
    margin-left: -150px;
  }

  .view:after{
    content: "";
    display: table;
    clear: both;
  }
}
