@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

/* For desktop: */
@media only screen and (min-width: 768px){
  *{
    box-sizing: border-box;
  }

  body{
    background-color: black;
    font-family: 'Noto Sans TC', sans-serif;
  }

  #myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .bg{
    background-color: rgba(200, 200, 200, 0.3);

    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 8px;
    text-align: center;
    line-height: 400px;
    font-size: 60px;

    height: 400px;
    width: 800px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -200px;
    margin-left: -400px;
  }

  .view:after{
    content: "";
    display: table;
    clear: both;
  }
}

/* For mobile: */
@media only screen and (max-width: 768px){
  *{
    box-sizing: border-box;
  }

  body{
    background-color: black;
    font-family: 'Noto Sans TC', sans-serif;
  }

  #myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .bg{
    background-color: rgba(200, 200, 200, 0.3);

    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 6px;
    text-align: center;
    line-height: 400px;
    font-size: 25px;

    height: 400px;
    width: 360px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -200px;
    margin-left: -180px;
  }

  .view:after{
    content: "";
    display: table;
    clear: both;
  }
}
