@media only screen and (min-width: 500px){
  /* For desktop: */
  *{
    box-sizing: border-box;
  }

  body{
    background-color: #292C34;
  }

  .bg{

    text-align: center;
    float: center;

    height: 400px;
    width: 800px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -200px;
    margin-left: -400px;
  }

  .view:after{
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (max-width: 500px){
  /* For mobile: */
  *{
    box-sizing: border-box;
  }

  body{
    background-color: #124123;
  }

  .bg{

    text-align: center;
    float: center;

    height: 400px;
    width: 360px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -200px;
    margin-left: -180px;
  }

  .view:after{
    content: "";
    display: table;
    clear: both;
  }
}
