body{
  background-color: #e0e0e0;
}

p{
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgba(0,0,200,0.6);
  /* background: rgba(0,0,200,0.3); */
  color: rgba(0,0,200,1);
  box-shadow: 3px 3px 3px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: progress;
}
